<div class="container">

<!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About
                    <small>A brief history...</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/home">Home</a>
                    </li>
                    <li class="active">About</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        
        <!-- Intro Content -->
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="\assets\images\TBDMEANGrey.png" alt="Tom Bridgeman Dev">
            </div>
            <div class="col-md-6">
                <h2>About Tom Bridgeman Dev</h2>
                <p>A long story short... after a decade in sales and sales management I decided to pursue a new career. I have always had an interest for IT and as I explored on-line coding courses I found I really enjoyed programming. So I pulled the trigger and walked away from one career and into another.</p>
                <p>Starting as an account manager in the print/on-line advertising world, I worked my way into management. With the help of great leaders I was to learn the various aspects of running a business from sales to staffing, G/L's to contract negotiations. </p>
                <p>Venturing west offered opportunities to explore the insurance and procurement industries. Fun but not my cups of tea. Ultimately, as I said above, I couldn't resist a long desire to know how to program. I've sold hundreds of thousands of dollars and have successfully managed million dollar plus operations. Now I can code. My world domination goal is beginning to take shape. Ha ha! </p>
                <p>When I am not working towards world domination I enjoy spending time with my kids, all things tech, sports of all kinds and traveling the globe.</p>
                <p>Check out my services and if there is something you need help with please reach out. Explore my blog as I am going to be filling it with all kinds of little bits of information... and some probably not so useful. Thanks again for stopping by. </p>
            </div>
        </div>
        <!-- /.row -->
    <hr>
</div>