<div class="container">
	<p class="text-center">Thanks for stopping by my site. There isn't much here now as I've just begun this adventure into programming...</p>
	<p class="text-left">A long story short after a decade in sales and sales management I decided to pursue a new career. I have always had an interest for IT an has I explored online coding courses I found I really enjoyed do it. So I pulled the trigger and walked away from one career and into another. </p>
	<p class="text-left">Please explore my site. Inspect the code and let me know what you think. I'll be adding more as this is a continual work in progress and like an artist this is my canvass. I built this site utilizing the MEAN stack and launched via AWS. </p>
</div>