<div class="container">
	<p class="text-center">Thanks for stopping by my site. There isn't much here now as I've just begun this adventure into programming...</p>
	<p class="text-left">A long story short after a decade in sales and sales management I decided to pursue a new career. I have always had an interest for IT and as I explored online coding courses I found I really enjoyed programming. So I pulled the trigger and walked away from one career and into another. </p>
	<p class="text-left">Please explore my site. Inspect the code and let me know what you think. I'll be adding more as this is a continual work in progress and like an artist this is my canvass. I built this site utilizing the MEAN stack and launched via an AWS EC2 instance linked to my domain name registered with Google. </p>
	<p class="text-center">A few items I'll be adding in the coming days:		    
		<ul>
			<li>Alert message for the contact form. Its fully functional but I'm sure you'd like to know your message went through.</li>
			<li>Project list and links to GitHub so you check it out and pick the code apart.</li>
			<li>I guess one of those Favicon things.</li>
			<li>Instant messenger to if you feel to talk to me instantly... you can.</li>
			<li>Security... I'm going to lock this site down with some of the latest security features out there</li>
			<li>Fluff... I am always coming across really cool stuff that. If you experience a functionality that isn't working odds are I am trying to implement something like a NASA API so I can track the satellites as I try to hack into them. Just kidding, I don't have that kind of skill set (the hacking) yet...</li>
		</ul>		  
	</p>
	<p class="text-center">
		<a href="https://www.linkedin.com/pub/thomas-bridgeman/4/b7a/8">      
	       <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_viewmy_160x25.png" width="160" height="25" border="0" alt="View Thomas Bridgeman's profile on LinkedIn">        
	    </a>
    </p>
</div>