<div class="container">	
  <div class ="row">
	  <div class ="col-lg-l2">
	  <h1 class="page-header">
                Welcome {{user.name}}. Adding a blog today? 
      </h1>
      <form>
      	<input class="form-control" ng-model="newBlog.category" placeholder="category" />	
	   	  <input class="form-control" ng-model="newBlog.title" placeholder="title" />
	   	  <textarea class="form-control" ng-model="newBlog.snippet" placeholder="snippet"></textarea>
        <text-angular ng-model="newBlog.content" placeholder="content"></text-angular>
	   	  <button ng-click="submitNewBlog()" class="btn btn-primary">Post</button>
   	  </form>		
	  </div>
  </div>
<hr>
  <div class="row">
  	<div class="col-lg-8">
      <div class="blogs" ng-repeat="b in blogs | orderBy:'-createdAt'">
        <hr>
        <p><i class="fa fa-clock-o"></i> Posted on {{b.createdAt | date: "MMM. dd, yyyy"}}</p>
        <hr>
  	  	<p class="blog-category">{{b.category}}</p>
  	  	<p class="blog-title">{{b.title}}</p>
  	  	<p class="blog-snippet">{{b.snippet}}</p>
  	  	<p class="blog-content" ta-bind ng-model="b.content">{{b.content}}</p>        
        <p>{{b._user.name}}</p>
  	  </div>
  	</div>
  </div>    
</div>