<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{one.title}}
                <small>{{one.category}}</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/blog">Blog Home</a></li>                    
                <li class="active">{{one.title}}</li>
            </ol>
        </div>
    </div>     
    <div class="row">
        <div class="col-md-8">
          <div class="blogs">
            <h2>
                <p class="blogtitle">{{one.title}}</p>
            </h2>                
            <p><i class="fa fa-clock-o"></i> Posted on {{one.createdAt | date: "MMM. dd, yyyy"}}</p>
            <hr>
            <p class="text-info">{{one.snippet}}</p>
            <hr>
            <p class="text-info" ta-bind ng-model="one.content">{{one.content}}</p>
            <hr>
          </div>              
            <hr>
        </div>            
        <div class="col-md-4">                
            <div class="well">
                <h4>Search my blogs</h4>
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                    </span>
                </div>                    
            </div>                
            <div class="well">
                <h4>Blog Categories</h4>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li><a href="/blogAWS">AWS</a>
                            </li>
                            <li><a href="/blogSEO">SEO</a>
                            </li>
                            <li><a href="/blogSecurity">Security</a>
                            </li>
                            <li><a href="/blogBusiness">Business Tips</a>
                            </li>
                        </ul>
                    </div>                        
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li><a href="/blogSportsTech">Tech in Sports</a>
                            </li>
                            <li><a href="#">Coming Soon</a>
                            </li>
                            <li><a href="#">Coming Soon</a>
                            </li>
                            <li><a href="#">Coming Soon</a>
                            </li>
                        </ul>
                    </div>                        
                </div>                    
            </div>                
            <div class="well">
                <h4>My Blog</h4>
                <p>Here is a collection of my genius (ha!) and tech insights. I'm sure sooner than later I will discuss Formula 1 tech but be assured there will be plenty of SEO and various web development tips/tools/tricks. And lets not forget some general business savviness I've learned over the years.</p>
            </div>
        </div>
    </div>
</div>