 <!-- Page Content -->
    <div class="container">
    <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Tom's Blog Home 
                    <small>My insights just for you</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/blog">Home</a>
                    </li>
                    <li class="active">Blog Home</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">
              <div class="blogs" ng-repeat="b in blogs | orderBy:'-createdAt' | filter:searchblogs">

                <!-- Blog Post -->
                <h2>
                    <p class="blogtitle">{{b.title}}</p>
                </h2>
                <p class="lead">
                    by {{b._user.name}} in the {{b.category}} category
                </p>
                <p><i class="fa fa-clock-o"></i> Posted on {{b.createdAt | date: "MMM. dd, yyyy"}}</p>
                <!--<hr>-->
                <p class="text-info">{{b.snippet}}</p>
                <!--<hr>
                <p class="text-info" ta-bind ng-model="b.content">{{b.content}}</p> -->                
                <a class="btn btn-cool3" ng-href="/blog-post/{{b._id}}">Read More <i class="fa fa-angle-right"></i></a>

                <hr>
              </div>                

                <hr>

                <!-- Pager -->
<!--                <ul class="pager">
                    <li class="previous">
                        <a href="#">&larr; Older</a>
                    </li>
                    <li class="next">
                        <a href="#">Newer &rarr;</a>
                    </li>
                </ul> -->

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Search Well -->
                <div class="well">
                    <h4>Search my blogs</h4>
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="searchblogs">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                    <!-- /.input-group -->
                </div>

                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>Blog Categories</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="/blogAWS">AWS</a>
                                </li>
                                <li><a href="/blogSEO">SEO</a>
                                </li>
                                <li><a href="/blogSecurity">Security</a>
                                </li>
                                <li><a href="/blogBusiness">Business Tips</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="/blogSportsTech">Tech in Sports</a>
                                </li>
                                <li><a href="#">Coming Soon</a>
                                </li>
                                <li><a href="#">Coming Soon</a>
                                </li>
                                <li><a href="#">Coming Soon</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.col-lg-6 -->
                    </div>
                    <!-- /.row -->
                </div>

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>My Blog</h4>
                    <p class="text-info">Here is a collection of my genius (ha!) and tech insights. I'm sure sooner than later I will discuss Formula 1 tech but be assured there will be plenty of SEO and various web development tips/tools/tricks. And lets not forget some general business savviness I've learned over the years.</p>
                </div>
            </div>
        </div>
        <!-- /.row -->
