<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Category: All Things Business
                <small>Some little business tips that maybe you can use</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/blog">Home</a>
                </li>
                <li class="active">Category: Business</li>
            </ol>
        </div>
    </div>
    <div class="row">
    <hr>
    <hr>
      <div class="blogs" ng-repeat="b in blogs | filter: {category:'Business'} |orderBy:'-createdAt'">
        <div class="col-md-3 text-center">                
            <p>{{b.createdAt | date: "MMM. dd, yyyy"}}</p>
        </div>
        <div class="col-md-9">                
            <h3>
                <a href="/blog-post/{{b._id}}">{{b.title}}</a>
            </h3>
            <p>by {{b._user.name}} </p>
            <p class="text-info">{{b.snippet}}</p>

            <a class="btn btn-primary" href="/blog-post/{{b._id}}">Read More <i class="fa fa-angle-right"></i></a>
            <hr>
          <hr>
        </div>
      </div>  
    </div>
    <hr>
</div>