<!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Category: Internet Security
                    <small>Subheading</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/blog">Home</a>
                    </li>
                    <li class="active">Category: Security</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Blog Post Row -->
        <div class="row">
        <hr>
        <hr>
          <div class="blogs" ng-repeat="b in blogs | filter: {category:'Security'} |orderBy:'-createdAt'">
            <div class="col-md-3 text-center">                
                <p>{{b.createdAt | date: "MMM. dd, yyyy"}}</p>
            </div>
            <div class="col-md-9">                
                <h3>
                    <a href="/blog-post/{{b._id}}">{{b.title}}</a>
                </h3>
                <p>by {{b._user.name}} </p>
                <p>{{b.snippet}}</p>
                <p>{{b.content}}</p>
                <a class="btn btn-primary" href="/blog-post/{{b._id}}">Read More <i class="fa fa-angle-right"></i></a>
                <hr>
              <hr>
            </div>
          </div>  
        </div>
        <!-- /.row -->

        <hr>
    </div>