<div class="container" ng-controller="contactController">

	<form class="well form-horizontal" ng-submit="createContact(newContact)"  id="contact_form" name='frm'>
		<fieldset>			
			<div class="row">
			  <legend class="text-center">Contact Me Today or Tomorrow... NO PRESSURE!</legend>
		    </div>		

			<div class="form-group">
			  <label class="col-md-4 control-label">First Name</label>  
			  	<div class="col-md-4 inputGroupContainer">
			  	  <div class="input-group">
					  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					  <input name="first_name" placeholder="First Name" class="form-control" type="text" ng-model="newContact.first_name" ng-minlength="3" required>
					  	<div class="field-message" ng-messages="frm.first_name.$error" ng-if='frm.first_name.$touched' ng-cloak>					    
					  	  <div ng-message="required">A first name is required</div>					  	
					    </div>
			      </div>
			    </div>
			</div>			

			<div class="form-group">
			  <label class="col-md-4 control-label" >Last Name</label> 
			    <div class="col-md-4 inputGroupContainer">
			      <div class="input-group">
			  		<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
			  		<input name="last_name" placeholder="Last Name" class="form-control" type="text" ng-model="newContact.last_name" ng-minlength="3" required>
			  			<div class="field-message" ng-messages="frm.last_name.$error" ng-if='frm.last_name.$touched' ng-cloak>
					  	  <div ng-message="required">A last name is required as well...</div>			  	
					      <div ng-message="minlength">Last name must be at least 3 letters</div>
					    </div>
			      </div>
			    </div>
			</div>
			
			<div class="form-group">
			  <label class="col-md-4 control-label">E-Mail</label>  
			    <div class="col-md-4 inputGroupContainer">
			      <div class="input-group">
			        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
			  		<input name="email" placeholder="E-Mail Address" class="form-control" type="email" ng-model="newContact.email" required>
			  			<div class="field-message" ng-messages="frm.email.$error" ng-if='frm.email.$touched' ng-cloak>
					      <div ng-message="required">Yeah... need a valid email</div>
					      <div ng-message="email">Your email address is invalid</div>				  			
					    </div>
			      </div>
			  	</div>
			</div>			
			       
			<div class="form-group">
			  <label class="col-md-4 control-label">Phone #</label>  
			    <div class="col-md-4 inputGroupContainer">
			      <div class="input-group">
			        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
			  		<input name="phone" placeholder="(111)555-1212" class="form-control" type="text" ng-model="newContact.phone" ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/" required>
			  			<div class="field-message" ng-messages="frm.phone.$error" ng-if='frm.phone.$touched' ng-cloak>
					  	  <div ng-message="required">A phone number is required</div>
					  	  <div ng-message="pattern">A 10 digit phone is required</div>					  	
					  	</div>
			      </div>
			  	</div>
			</div>			
			      
			<div class="form-group">
			  <label class="col-md-4 control-label">Address</label>  
			    <div class="col-md-4 inputGroupContainer">
			      <div class="input-group">
			        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
			  		<input name="address" placeholder="Address" class="form-control" type="text" ng-model="newContact.address">
			      </div>
			  	</div>
			</div>			
			 
			<div class="form-group">
			  <label class="col-md-4 control-label">City</label>  
			    <div class="col-md-4 inputGroupContainer">
				   <div class="input-group">
				      <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
				 	  <input name="city" placeholder="city" class="form-control" type="text" ng-model="newContact.city">
				   </div>
			    </div>
			</div>			
			   
			<div class="form-group"> 
			  <label class="col-md-4 control-label">State</label>
			    <div class="col-md-4 selectContainer">
			      <div class="input-group">
			        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
				    <select name="state" class="form-control selectpicker" ng-model="newContact.state">
				      <option value=" " >Please select your state</option>
				      <option>Alabama</option>
				      <option>Alaska</option>
				      <option >Arizona</option>
				      <option >Arkansas</option>
				      <option >California</option>
				      <option >Colorado</option>
				      <option >Connecticut</option>
				      <option >Delaware</option>
				      <option >District of Columbia</option>
				      <option> Florida</option>
				      <option >Georgia</option>
				      <option >Hawaii</option>
				      <option >daho</option>
				      <option >Illinois</option>
				      <option >Indiana</option>
				      <option >Iowa</option>
				      <option> Kansas</option>
				      <option >Kentucky</option>
				      <option >Louisiana</option>
				      <option>Maine</option>
				      <option >Maryland</option>
				      <option> Mass</option>
				      <option >Michigan</option>
				      <option >Minnesota</option>
				      <option>Mississippi</option>
				      <option>Missouri</option>
				      <option>Montana</option>
				      <option>Nebraska</option>
				      <option>Nevada</option>
				      <option>New Hampshire</option>
				      <option>New Jersey</option>
				      <option>New Mexico</option>
				      <option>New York</option>
				      <option>North Carolina</option>
				      <option>North Dakota</option>
				      <option>Ohio</option>
				      <option>Oklahoma</option>
				      <option>Oregon</option>
				      <option>Pennsylvania</option>
				      <option>Rhode Island</option>
				      <option>South Carolina</option>
				      <option>South Dakota</option>
				      <option>Tennessee</option>
				      <option>Texas</option>
				      <option> Uttah</option>
				      <option>Vermont</option>
				      <option>Virginia</option>
				      <option >Washington</option>
				      <option >West Virginia</option>
				      <option>Wisconsin</option>
				      <option >Wyoming</option>
				    </select>
				  </div>
				</div>
			</div>			

			<div class="form-group">
				<label class="col-md-4 control-label">Zip Code</label>  
				  <div class="col-md-4 inputGroupContainer">
				    <div class="input-group">
				        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
				  		<input name="zip" placeholder="Zip Code" class="form-control" type="text" ng-model="newContact.zip" ng-minlength="5" ng-maxlength="5" required>
				  		<div class="field-message" ng-messages="frm.zip.$error" ng-if='frm.zip.$touched' ng-cloak>
					  	  <div ng-message="required">A zip code is required</div>
					  	  <div ng-message="minlength">Zip must be 5 numbers</div>
					  	  <div ng-message="maxlength">Zip must be 5 numbers</div>
					  </div>
				    </div>
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-md-4 control-label">Website or domain name</label>  
				   <div class="col-md-4 inputGroupContainer">
				    <div class="input-group">
				        <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
				  		<input name="website" placeholder="Website or domain name" class="form-control" type="text" ng-model="newContact.website">
				    </div>
				  </div>
			</div>
			
			<div class="form-group">
			    <label class="col-md-4 control-label">Are you a...</label>
			      <div class="col-md-4">
			        <div class="radio">
		                <label><input type="radio" name="job" value="yes" ng-model="newContact.job"/>Business Owner</label>
		            </div>
		            <div class="radio">
		                <label><input type="radio" name="job" value="no" ng-model="newContact.job"/>Recruiter</label>
		            </div>
		        </div>
		    </div>		
			  
			<div class="form-group">
			  <label class="col-md-4 control-label">What can I do for you?</label>
			    <div class="col-md-4 inputGroupContainer">
			      <div class="input-group">
			        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
			        	<textarea type="text" class="form-control" name="description" placeholder="Comment or Project Description" ng-model="newContact.description" ng-minlength="50" ng-maxlength="1000" required></textarea>
			        	<div class="field-message" ng-messages="frm.description.$error" ng-if='frm.description.$dirty' ng-cloak>
					  		<div ng-message="required">You gotta tell me something...</div>
					  		<div ng-message="minlength">Message must be over 50 characters</div>
					  		<div ng-message="maxlength">Message must not exceed 1000 characters</div>		  	
					  	</div>
				  </div>
				</div>
			</div>
			
			<div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Thanks for contacting us, we will get back to you shortly.</div>
			
			<div class="form-group">
			  <label class="col-md-4 control-label"></label>
			  <div class="col-md-4">
			    <button type="submit" class="btn btn-warning" ng-disable="frm.$invalid">Send <span class="glyphicon glyphicon-send"></span></button>
			  </div>
			</div>

		</fieldset>
	</form>

<h5 class="text-center">
	<a href="#top" class="back-to-top"> Back to top </a>
</h5>
	
</div>