<div class="container marketing">

	<div class="container">
		<p class="text-center">What I learned at the Coding Dojo and some projects? Scroll down <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></p>
	</div>

	<hr class="featurette-divider">

	      <div class="row featurette">
	        <div class="col-md-7 vcenter">
	          <h2>Web Fundamental's  <span class="text-muted">The basics.</span></h2>
	          <p class="lead">No messing around from day 1 when we dove right into morning algorithms learning JavaScript. A regular for the next 14 weeks. After daily algo's it was onto the nuts and bolts. Two weeks later with my head spinning and we had learned HTML, CSS, JS, JQueary, Ajax, GitHub, wire framing and responsive web design. </p>
	        </div><!--
	     --><div class="col-md-5 vcenter">
	          <ul class="list-inline">
	  			<li><img src="/assets/images/html.jpg"></li>
	  			<li><img src="/assets/images/css.png"></li>
	  			<li><img src="/assets/images/js.png"></li>
	  			<li><img src="/assets/images/jquery.png"></li>
	  			<li><img src="/assets/images/git.png"></li>  			
			  </ul>
	        </div>
	      </div>

	      <hr class="featurette-divider">

	      <div class="row featurette">
	        <div class="col-md-7 col-md-push-5 vcenter">
	          <h2>LAMP <span class="text-muted">Lighting up my knowledge.</span></h2>
	          <p class="lead">Next we moved to our 1st full stack: LAMP. 4 weeks of us all questioning what the hell are we doing here!?! Hello PHP and sessions! What was MySQL... join tables? Excuse me Apache, please just fire up port 3000. Ajax... not just an all-purpose cleaner! Who knew? CodeIgnitor... sounds cool. Amazon Web Services... is this included with my PRIME membership? This was a brutal 4 weeks. </p>
	        </div><!--
	     --><div class="col-md-5 col-md-pull-7 vcenter">
	          <ul class="list-inline">
	  			<li><img src="/assets/images/ajax.png"></li>
	  			<li><img src="/assets/images/mysql.png"></li>
	  			<li><img src="/assets/images/php.png"></li>	  			 			
			  </ul>
	        </div>
	      </div>

	      <hr class="featurette-divider">

	      <div class="row featurette">
	        <div class="col-md-7 vcenter">
	          <h2>RoR <span class="text-muted">If it glitters then its gold... or Rubies.</span></h2>	          
	          <p class="lead">6 weeks and hanging on. But hang on tighter because it’s time to hop on the Ruby on Rails train. It was a fast train covering another 4 weeks. MVC? Is that short for Malaysian Veterinary Council? TDD and RSpec... you want us to actually test our code!?! Gems...so awesome... when they work. Angular Rails? Ember? Anything else? Just deploy...to Heroku. Change that... deploy on AWS using Git (cool), Nginx (alright...), Phusion Passenger (ok, hold on here) and either PostgreSQL or SQLite3. Really!?! RoR also taught me (because of continual Windows 10 freezing) the joys of Oracle's VM VirtualBox and Ubuntu. Actually they saved my sanity.. </p>
	        </div><!--
	     --><div class="col-md-5 vcenter">
	          <ul class="list-inline">
	          	<li><img src="/assets/images/ruby.png"></li>
	  			<li><img src="/assets/images/rails.png"></li>
	  			<li><img src="/assets/images/tdd.png"></li>
	  			<li><img src="/assets/images/ruby_on_rails_angular.png"></li>
	  			<li><img src="/assets/images/ember.png"></li>
  			  </ul>
	        </div>
	      </div>

	      <hr class="featurette-divider">

	      <div class="row featurette">
	        <div class="col-md-7 col-md-push-5 vcenter">
	          <h2>MEAN   <span class="text-muted">I do not like the sound of this.</span></h2>
	          <p class="lead">Train ride over and I left my brain somewhere between TDD and Nginx. Is MEAN really as difficult as I here? Yes. Yes it is. Ok then... bring on Angular. Kind of like it. Express... not so bad. Node... pretty straight forward. Mongo and Mongoose... makes me think of monkeys and bananas which make me think of palm trees which takes me tropical islands... snap out of Tom. What week are we on? MEAN is mean with its data binding and factories. But strangely enough I like it. I really like it. These 4 weeks were long but some of the best. 14 weeks later and I can program both front and back-end. Simply amazing.  </p>
	        </div><!--
	     --><div class="col-md-5 col-md-pull-7 vcenter">
	          <ul class="list-inline">
	          	<li><img src="/assets/images/mongo.png"></li>
	  			<li><img src="/assets/images/express.png"></li>
	  			<li><img src="/assets/images/angular1.png"></li>
	  			<li><img src="/assets/images/node.png"></li>
  			  </ul>	  			
	        </div>
	      </div>

	      <hr class="featurette-divider">


	      <a href="#top" class="back-to-top"> Back to top </a>
</div>

