<div class="container">
    <div class="row" >
        <div class="col-lg-12" id="crossfade">
            <img class="img-responsive" src="/assets/images/AngularJS1.jpg" alt="Image 1">            
            <img class="img-responsive" src="/assets/images/mean.jpg" alt="Image 2">
            <img class="img-responsive" src="/assets/images/RoR.jpg" alt="Image 3">
            <img class="img-responsive" src="/assets/images/AWS.png" alt="Image 4">
        </div>
    </div>
    <div class="row">          
        <div class="col-lg-12">
          <hr class="divider">
            <h2 class="home-header text-center text-lg text-uppercase my-0">Welcome to <strong>Tom Bridgeman Dev</strong></h2>
          <hr class="divider">
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="\assets\images\tom_bridgemanbigbear740x416.jpg" alt="Tom Bridgeman">
        </div>
        <div class="col-md-6">
          <div class="box">
            <p class="text-info">Thanks for stopping by. Please take a look at everything I have to offer. I can build a website or just modernize an existing one. Need help with advertising campaigns or running events? My years of experience are here to be shared and utilized. If I can't help I'll be the first to tell you and try to connect you someone who can.</p>
            <p class="text-info">The blog is light and fun but very informative. Technology fascinates me and almost daily I come across some cool piece of tech news that is shaping the world the we live in. Some are just so awesome that I want to share and some will be tips and tricks to help you with your business. </p>
            <p class="text-info">Please don't hesitate to reach out. Let's brainstorm over some coffee, tea or a pint and see how I can help.</p>
          </div>
        </div>
    </div>
    <div class="row">
      <hr class="divider">
      <h2 class="home-header text-center text-lg my-0">Cool Feature of the Month - Live Stream from the International Space Station</h2>
      <hr class="divider">
        <div class="col-lg-12">
              <div id="Container" style="padding-bottom:56.25%; position:relative; display:block; width: 100%">
              <iframe id="UstreamIframe" 
                      width="100%" height="100%" 
                      src=" http://www.ustream.tv/embed/17074538?html5ui?v=3&amp;controls=false&autoplay=true" 
                      frameborder="0"
                      style="position:absolute; top:0; left: 0">
              </iframe>
              </div>
              <br>
              <p class="text-info">This month's cool feature comes live from the International Space Station and NASA. If you see   the "please stand by" screen do just that. These guys do switch cameras regularly and do lose signal every now and then. Also, if it's a black screen then odds are it's night and they are over an ocean. But when it's on... it's amazing. I watched the sun set from the space station the other day and while I have been blessed to see some amazing sunsets in my day... this one takes the cake.</p>
        </div>          
    </div>  
    <hr>


<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
</script>      
</div>