    <!-- Page Content -->
    <div class="container">

    <!-- Image Header -->
        <div class="row" >
            <div class="col-lg-12" id="crossfade">
                <img class="img-responsive" src="/assets/images/AngularJS1.jpg" alt="Image 1">            
                <img class="img-responsive" src="/assets/images/mean.jpg" alt="Image 2">
                <img class="img-responsive" src="/assets/images/RoR.jpg" alt="Image 3">
                <img class="img-responsive" src="/assets/images/AWS.png" alt="Image 4">
            </div>
        </div>
        <!-- /.row -->  

    <!-- Welcome -->
        <div class="row">          
            <div class="col-lg-12">
              <hr class="divider">
                <h2 class="text-center text-lg text-uppercase my-0">Welcome to <strong>Tom Bridgeman Dev</strong></h2>
              <hr class="divider">
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="\assets\images\tom_bridgemanbigbear740x416.jpg" alt="Tom Bridgeman">
            </div>
            <div class="col-md-6">
              <div class="box">
                <p class="text-info">Thanks for stopping by. Please take a look around at everything I have to offer. I can build a website or just modernize an existing one. Need help with advertising campaigns or running events? My years of experience are here to be shared and utilized. If I can't help I'll be the first to tell to you and try to connect you with you someone who can.</p>
                <p class="text-info">The blog is light and fun but very informative. Technology fascinates me and almost daily I come across some cool piece of tech news that shaping the world the we live in. Some are just awesome that I want to share and some will be tips and tricks to help you with your business. </p>
                <p class="text-info">Please don't hesitate to reach out. Let's brainstorm over some coffee, tea or a pint and see how I can help.</p>
              </div>
            </div>
        </div>
       
        <!-- /.row -->        

        <!-- Testimonials -->
        <div class="row">
          <div class="bg-faded p-4 my-4">
            <hr class="divider">
            <h2 class="text-center text-lg text-uppercase my-0"> <strong>Testimonials</strong></h2>
            <hr class="divider">
            <p>COMMING</p>
            <p>SOON</p>
          </div>
        </div>
        <!-- /.row -->

        <hr>
    
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>


    <!-- Script to Activate the Carousel -->
        <script>
        $('.carousel').carousel({
            interval: 5000 //changes the speed
        })
        </script>        

    </div>
    <!-- /.container -->