<!-- Footer -->
    <div class="row footer">
        <a class="login" href="/login">Login</a>
        <footer class="footer">
            
            <p class="text-center footer">
        		<a href="https://www.linkedin.com/pub/thomas-bridgeman/4/b7a/8">      
           		<img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_viewmy_160x25.png" width="160" height="25" border="0" alt="View Thomas Bridgeman's profile on LinkedIn">        
        		</a>
    		</p>
            <div class="text-center">
                <div class="col-lg-12 footer">
                    <p>Copyright &copy; Tom Bridgeman Dev 2017</p>
                </div>
            </div>            
        </footer>
    </div>